{% extends 'base.html.twig' %}



{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

    <h1 class="display-5 text-center m-3"> 

     {% if editMode %}
            Backoffice | Edition du PRODUIT
        {% else %}
            Backoffice | Création du PRODUIT
        {% endif %}
    </h1>

    <table class="table table-bordered container mt-5">
        <thead>
            <tr>
            <th scope="col">Titre</th>
            <th scope="col">description</th>
            <th scope="col">couleur</th>
            <th scope="col">taille</th>
            <th scope="col">collection</th>
            <th scope="col">photo</th>
            <th scope="col">prix</th>
            <th scope="col">stock</th>
            {#<th scope="col">statut</th>#}
            {#<th scope="col">Date Enregistrement</th>#}
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
            <th scope="row">1</th> 
            <td>{{produit.titre}}</td>
            <td>{{produit.description}}</td>
            <td>{{produit.couleur}}</td>
            <td>{{produit.taille}}</td>
            <td>{{produit.collection}}</td>
            <td>{{produit.photo}}</td>
            <td>{{produit.prix}}</td>
            <td>{{produit.stock}}</td>
            <td>{{membre.getDateEnregistrement|date('d/m/Y à H:i:s') }}</td>
            <td><a href="#" class="text-dark" style=" text-decoration:none">
                <i class='fas fa-search' style='font-size:24px'></i>
                </a></td>
               <td> <a href=" {{ path('produit_edit', {id: produit.id}) }} " class="text-dark" style=" text-decoration:none">
                <i class='fas fa-edit' style='font-size:24px'></i>
                </a></td>
                <a onclick="return confirm('Voulez-vous supprimer ce véhicule ?')" href="{{ path('membre_delete', {id: produit.id}) }}" class="text-dark" style=" text-decoration:none">
                <i class='fas fa-trash' style='font-size:24px'></i>
                </a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




{% endblock %}